build.properties
*.o
*.user
*.pyc
*.log
src/moc_*.cc
test/Java/.idea/workspace.xml
*.db
*.orig
test/Java/out
*.autosave
.idea*
report/*
/bin/
/lib/
/out/
/build/
/docs/
/mocs/
build_cmake.bat
/build*
.DS_Store